* {
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
}

body {
    background-color: #303f9f;
}

#filesColumnes {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    width: 500px;
    height: 200px;
}

#tauler {
    text-align: center;
}

.inputs1 {
    color: black;
}

.inputs2 {
    width: 90px;
    color: black;
}

.botons {
  background-color: #275efe;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
}

#abandonar {
    background-color: #c62828;
}

#tauler {
    display: flex;
    margin-top: 20px;
}

#bloc1 {
    text-align: left;
    margin: auto;
}

#bloc2 {
    margin: auto;
}

#bloc3 {
    text-align: left;
    margin: auto;
}

.btcaselles{
    background-color: #303f9f;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

img {
    border-radius: 7px;
}

#divvp {
    border: 1px solid white;
    width: 200px;
    height: 30px;
    margin: auto;
    padding-top: 10px;
}